@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello world, My Name is Hasan</h1>

    <div class="container" style="padding-top: 20px;">
            <img src="https://storage.googleapis.com/bangkit-sansob/279712127_3149638781916385_3626175626216027852_n.jpeg" alt="" style="border-radius: 50%; height: 200px;"/>

        <div class="card" style="margin-top: 50px;">
            <div class="card-header">
                About me
            </div>
            <div class="card-body">
                <h5 class="card-title">Application Analyst at Badan Pengelola Tabungan Perumahan Rakyat [BP Tapera]</h5>
                <p class="card-text">Hello, My Name is Hasan.Application Analyst at Badan Pengelola Tabungan Perumahan Rakyat [BP Tapera]. I'm Golang, C#, SQLs Developer, and also love Android Development</p>
            </div>
        </div>
        <br/><br/>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">LinkedIn</div>
                    Hasan Shobri
                </div>
                <span class="badge bg-primary rounded-pill">*</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Facebook</div>
                    Hasan Shobri
                </div>
                <span class="badge bg-primary rounded-pill">:)</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Github</div>
                    Sansob
                </div>
                <span class="badge bg-primary rounded-pill">Fork me :)</span>
            </li>
        </ol>
        
    </div>
<br/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>